<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.friedchicken.mapper.ProductMapper">
    <select id="getProducts" resultType="com.friedchicken.pojo.vo.Supplement.SupplementListVO">
        SELECT *
        from supplement
        <where>
            <if test="productName != null and productName != ''">
                product_name like concat('%',#{productName},'%')
            </if>
            <if test="manufacture != null and manufacture != ''">
                manufacturer_name like concat('%',#{manufacture},'%')
            </if>
        </where>
    </select>
    <select id="getProductById" resultType="com.friedchicken.pojo.vo.Supplement.SupplementDetailVO">
        select *
        from supplement
        <where>
            product_id = #{productId}
        </where>
    </select>
</mapper>